.drugDetail {
  margin-top: 5rem;
  padding: 0 2rem;
  border: 1px black;
}
.drugDetail > p {
  background-color: var(--secBlue);
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

Button{
    text-decoration: none;
}

.details{
    background-color: white;
    padding: 0 3rem 1rem;
}