h1 {
  align-items: center;
  text-align: center;
  font-family: "Noto-Sans";
  margin: 3rem;
}

.drugSearch {
  padding: 0 2rem;
}

.drugSearch > p {
  background-color: var(--secBlue);
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}

.drugInput {
  background-color: white;
  padding: 1rem;

}

.searchResult {
  margin-top: 5rem;
  padding: 0 2rem;
}
.searchResult  p {
  background-color: var(--secBlue);
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}
.results {
  background-color: white;
  padding: 1rem 0.5rem;
}


.buttons Button {
  margin: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: var(--secBlue);

}

.buttons Link{
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}
